<template>
  <div class="project-edit">
    <div class="project-edit__header">
      <div class="container">
        <button class="project-edit__save btn -gray" @click="goBack">Back</button>
      </div>
    </div>
    <div class="container">
      <div class="project-edit__form">
        <div class="project-edit__body">
          <label class="project-edit__label" @keydown.enter="updateName">
            <div class="project-edit__title">Name</div>
            <input type="text" class="project-edit__text-field text-field" v-model="formData.name">
          </label>
          <button class="project-edit__save btn" @click="updateName">OK</button>
        </div>
        <div
          class="project-edit__message field-message h-color-danger"
          v-if="formErrors.name"
          v-text="formErrors.name"
        ></div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    middleware: 'auth',

    async validate({ $axios, params }) {
      let projectExists = false;
      await $axios.get('/projects-manage/' + params.id).then(res => {
        if (res.status === 200) projectExists = true;
      });
      return projectExists;
    },

    async asyncData({ $axios, params }) {
      const { data } = await $axios.get('/projects-manage/' + params.id);
      return { formData: data.project }
    },

    data() {
      return {
        id: this.$route.params.id,
        formErrors: {}
      }
    },

    methods: {
      async updateName() {
        await this.$axios.post('/projects-manage/update?id=' + this.id, {
          name: this.formData.name
        }).then(this.goBack).catch(err => {
          if (err.response.status === 401) {
            return this.$auth.logout();
          }

          this.formErrors = err.response.data.first_errors;
        });
      },

      goBack() {
        this.$router.push('/');
      }
    }
  }
</script>

<style lang="sass">
  .project-edit
    &__header
      position: sticky
      top: 0
      background: #c1c8d2
      padding: 10px 0
      margin-bottom: 20px
    &__form
      background: #fff
      padding: 20px 20px 40px
      border-radius: 4px
      border: 1px solid #eaeaea
    &__body
      display: flex
      align-items: flex-end
    &__title
      width: 80px
      padding-right: 15px
      flex-shrink: 0
      @media (max-width: 459px)
        width: 100%
        margin: 0 0 5px
        padding: 0
    &__label
      max-width: 300px
      width: 100%
      margin-right: 5px
      display: flex
      align-items: center
      @media (max-width: 459px)
        flex-direction: column
    &__message
      margin-top: 10px
      padding-left: 80px
      @media (max-width: 459px)
        padding: 0
</style>
