<template>
  <div>
    <nuxt />
  </div>
</template>

<style lang="sass">
  *,
  *::before,
  *::after
    box-sizing: border-box
    margin: 0

  html
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
    font-size: 14px
    word-spacing: 1px
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box
    height: 100%
    background: #f4f4f4
    color: #111

  .container
    max-width: 800px
    padding: 0 30px
    margin: 0 auto

  .h-color-success
    color: #389455
  .h-color-danger
      color: #c71616

  .text-field
    appearance: none
    display: block
    border: 1px solid #d3d3d3
    outline: none
    width: 100%
    padding: 0 10px
    height: 35px
    font: inherit
    color: inherit
    transition: .2s
    &:focus
      border-color: #111
    &::placeholder
      color: #ccc
      opacity: 1

  .field-message
    display: block
    font-size: 12px

  .btn
    appearance: none
    background: #395378
    color: #fff
    border-radius: 4px
    border: none
    outline: none
    display: inline-flex
    align-items: center
    justify-content: center
    text-align: center
    height: 35px
    padding: 0 15px
    text-transform: uppercase
    cursor: pointer
    text-decoration: none
    font: inherit
    font-weight: bold
    font-size: 12px
    transition: .2s
    &:hover
      background: #111
    &.-gray
      border: 1px solid #c6c7c6
      background: #cecece
      color: #111
      &:hover
        background: #a2abb7
</style>
