<template>
  <div>
    <div class="header">
      <div class="header__logo">Q</div>
      <div class="header__nav">
        <nav class="nav">
          <nuxt-link to="/" class="nav__link">Projects</nuxt-link>
          <a href="javascript:void(0)" class="nav__link" @click="logout">Logout</a>
        </nav>
      </div>
    </div>

    <div class="projects">
      <div class="container">
        <nuxt-link
          v-for="project in projects"
          :key="project.id"
          class="project"
          :to="`/projects/${project.id}`"
        >
          <div class="project__logo" :style="{ 'background-image': `url(${project.logo_url})` }"></div>
          <div class="project__name">{{ project.name }}</div>
          <div class="project__status">
            <span class="h-color-success" v-if="project.is_active">Active</span>
            <span class="h-color-danger" v-else>Inactive</span>
          </div>
          <div class="project__info">
            <div class="project__info-row">
              <div class="project__info-cell -title">time this week</div>
              <div class="project__info-cell -amount">
                {{ project.spent_time_week | formatTime }}
              </div>
            </div>
            <div class="project__info-row">
              <div class="project__info-cell -title">this month</div>
              <div class="project__info-cell -amount">
                {{ project.spent_time_month | formatTime }}
              </div>
            </div>
            <div class="project__info-row">
              <div class="project__info-cell -title">total</div>
              <div class="project__info-cell -amount">
                {{ project.spent_time_all | formatTime }}
              </div>
            </div>
          </div>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: 'auth',

  async asyncData({ $axios }) {
    const { data } = await $axios.get('/projects-manage/index');
    return { projects: data.projects }
  },

  methods: {
    async logout() {
      await this.$auth.logout();
    }
  },

  filters: {
    formatTime(seconds) {
      const format = val => `0${Math.floor(val)}`.slice(-2);
      const hours = seconds / 3600;
      const minutes = (seconds % 3600) / 60;

      return [hours, minutes, seconds % 60].map(format).join(':');
    }
  }
}
</script>

<style lang="sass">
  .header
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 30px
    background: #fff
    border-bottom: 1px solid #111
    position: sticky
    top: 0
    &__logo
      font-weight: bold
      font-size: 30px
      cursor: default
    &__nav
      height: 50px

  .nav
    height: 100%
    display: flex
    margin: 0 -15px
    &__link
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      padding: 0 15px
      color: #aaa
      text-decoration: none
      text-transform: uppercase
      transition: .2s
      &:hover
        color: #111
      &.nuxt-link-exact-active
        color: #111
        pointer-events: none

  .projects
    padding: 20px 0

  .project
    display: flex
    align-items: center
    background: #fff
    font-size: 16px
    padding: 20px
    cursor: pointer
    transition: .2s
    text-decoration: none
    color: inherit
    @media (max-width: 767px)
      flex-direction: column
      font-size: 14px
    &:hover
      box-shadow: 0 3px 10px 1px rgba(#000, .1)
    & + &
      margin-top: 20px
    &__logo
      width: 90px
      height: 90px
      flex-shrink: 0
      background: #f5f5f5 no-repeat center
      background-size: contain
      margin-right: 30px
      @media (max-width: 767px)
        margin: 0 0 10px
    &__name
      font-weight: bold
      margin-right: 30px
      width: 200px
      flex-shrink: 0
      @media (max-width: 767px)
        width: auto
        margin: 0
    &__status
      margin-right: auto
      font-weight: bold
      @media (max-width: 767px)
        margin: 0 0 10px
    &__info
    &__info-row
      display: table-row
    &__info-cell
      display: table-cell
      & + &
        padding-left: 20px
      &.-amount
        font-weight: bold
</style>
