<template>
  <div class="login-form">
    <h1 class="login-form__title">Login</h1>

    <label class="login-form__label">
      <input
        class="login-form__text-field text-field"
        type="email"
        v-model="formData.email"
        placeholder="Email"
      >
      <span
        class="login-form__message field-message h-color-danger"
        v-if="formErrors.email"
        v-text="formErrors.email"
      ></span>
    </label>

    <label class="login-form__label" @keydown.enter="auth">
      <input
        class="login-form__text-field text-field"
        type="password"
        v-model="formData.password"
        placeholder="Password"
      >
      <span
        class="login-form__message field-message h-color-danger"
        v-if="formErrors.password"
        v-text="formErrors.password"
      ></span>
    </label>

    <button class="login-form__submit btn" @click="auth">Login</button>
  </div>
</template>

<script>
export default {
  auth: 'guest',

  data() {
    return {
      formData: {
        email: '',
        password: ''
      },
      formErrors: {},
    }
  },

  methods: {
    async auth() {
      await this.$auth.loginWith('local', {
        data: this.formData
      }).catch(err => {
        this.formErrors = err.response.data.first_errors;
      });
    }
  },
}
</script>

<style lang="sass">
  .login-form
    max-width: 320px
    margin: 100px auto

    &__title
      font-size: 18px
      font-weight: bold
      text-transform: uppercase
      margin-bottom: 15px

    &__label
      display: block
      margin-bottom: 10px

    &__text-field

    &__message
      margin-top: 5px

    &__submit
      min-width: 110px
      margin-top: 10px
</style>
